/*
* TOP
*/

.contact {
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.contact > h2 {
	margin: 5px;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: bold;	
}

.fb-tw-li > a {
 color: #ffffffdb;
}

.container-header {
	/*width: 50%; */
	/*width: 1920px;
*/	height: 77px;
	background-color: #f4f4f4;
}

.header {
	text-align: left;
	width: 65%;
   margin: 0 auto;
}

.header > h1 {
	font-size: 30px;
	line-height: 36px;
	color: #b2a78c;
	/*font-family: "P FBague Sans Pro";*/
}

.header > h2 {
	font-size: 13px;
	line-height: 15px;
	color: #464637;
	/*font-family: "Zona Pro";*/
	/*text-align: center;*/
}

.container-nav {
	margin: 10px 0;
	/*font-family: "P FBague Sans Pro";*/
}

.nav-item > a {
	color: #221f1f;
	font-size: 15px;
	line-height: 19px;
	font-weight: 700;
}

.justify-content-center {
   /*-ms-flex-pack: center!important;*/
   justify-content: center;
   width: 65% !important;
   margin: 0 auto;
}

.carousel-inner {
	position: relative;
   width: 65%;
   overflow: hidden;
   margin: 0 auto;
}

.carousel-item {
	position: relative;
   display: none;
   float: left;
   width: 100%;
}

.carousel-item > img {
	float: right;
}
.carousel-caption {
	position: absolute;
   top: 125px;
   left: 55px;
   text-align: left;
   width: 406px
}

.carousel-caption > h5 {
	font-size: 30px;
	/*line-height: 36px;*/
	color: #b2a78c;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: 800;
}

.carousel-caption > p {
	height: 83px;
	font-size: 18px;
	margin: 0;
	/*line-height: 22px;*/
	color: #211f1f;
	/*font-family: "P FBague Sans Pro";*/
}

.carousel-control-prev-icon {
	color:#ccc;
}

.Bitmap5-caption {
	position: absolute;
   background-color: #ffffffbd;
   bottom: 15px;
   left: 15px;
	width: 327px;
	height: 114px;
	padding: 10px;
}

.Bitmap5-caption > h3 {
	font-size: 26px;
	line-height: 26px;
	color: #b2a68c;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: 700;
}

.Bitmap5-caption > p {
	font-size: 17px;
	line-height: 20px;
	color: #211f1f;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: bold;	
}

/*
* specific-width
*/

.specific-width {
	width: 65%;
   margin: 47px auto;
}

.photos-container {
   display: flex;
   justify-content: space-between;	
}

.second-line-container {
	margin: 15px 0;
	display: flex;
   justify-content: space-between;
}

#carouselSyxnesTherapeies {
	/*height: 506px;*/
	background-color: #eeeeee;
	padding: 16px 0;
}

#carouselSyxnesTherapeies > h2 {
	margin: 13px auto;
	width: 65%;
	font-size: 26px;
	line-height: 31px;
	color: #b3a88c;
	font-weight: 800;
	/*font-family: "P FBague Sans Pro";*/
}

.list {
	display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding: 0;
}

.img-caption {
	margin-right: 2em;
}

.box-caption {
	position: absolute;
	bottom: 70px;
	left: 19px;
   width: 298px;
   height: 240px;
   background-color: #fff;
   padding: 40px 15px;
}
.box-caption > h3 {
	/*width: 263px;*/
	height: 27px;
	font-size: 26px;
	line-height: 31px;
	color: #b3a88c;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: bold;
}

.box-caption > p {
/*	width: 263px;*/
	height: 71px;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
/*	font-family: "P FBague Sans Pro";*/
	font-weight: bold;
}

.poioiEimaste-caption {
	position: absolute;
   bottom: 35px;
   left: 215px;
   width: 50%;
   width: 697px;
   height: 416px;
   background-color: #ffffffba;
   padding: 30px;
}

.poioiEimaste-caption > h3 {
	font-size: 26px;
   line-height: 31px;
   color: #201f1f;
   /* font-family: "P FBague Sans Pro"; */
   font-weight: 800;
}

.poioiEimaste-caption > p {
	width: 631px;
   /* height: 219px; */
   font-size: 18px;
   /* line-height: 25px; */
   color: #201f1f;
   /* font-family: "P FBague Sans Pro"; */
   font-style: italic;
}

img {
	max-width: 100%;
}

.btn {
   bottom: 19%;
   border-radius: 0;
   background-color: #fff;
   width: 196px;
   /* height: 20px; */
   font-size: 20px;
   line-height: 24px;
   color: #201f1f;
   /* font-family: "P FBague Sans Pro"; */
   font-weight: 500;
}

.epikoinonia > h3 {
	font-size: 26px;
	line-height: 31px;
	color: #b3a88c;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: 800;	
}

.epikoinonia > p {
/*	width: 369px;
	height: 47px;*/
	font-size: 14px;
	line-height: 17px;
	color: #211f1f;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: 300;
}

.epikoinonia-container {
/*	width: 369px;
	height: 47px;*/
	font-size: 14px;
	line-height: 17px;
	color: #211f1f;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: 300;
	display: flex;
}

.days {
	margin-right: 10px;
}

.form-group > label {
	font-size: 12px;
	line-height: 0px;
	color: #211f1f;
	/*font-family: "P FBague Sans Pro";*/
	font-weight: bold;
}

.form-control {
	border: 1px solid #211f1f;
   border-radius: 0;
}

.btn-primary {
	border-color: #211f1f;
}

.apostoli {
	width: 293px;
	height: 45px;
	background-color: #211f1f;
	color: #fff;
	margin-right: 10px;
}

.akurwsh {
	width: 293px;
	height: 45px;
	color: #211f1f;
}